<%= form_for(@line) do |f| %>
  <% if @line.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@line.errors.count, "error") %> prohibited this line from being saved:</h2>

      <ul>
      <% @line.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, "Вид разметки" %><br>
    <%= f.text_field :name, size: 44 %>
  </div>
  <div class="field">
    <%= f.label :view, "Внешний вид" %><br>
    <%= f.text_field :view, size: 44 %>
  </div>
  <div class="field">
    <%= f.label :describe, "Описание" %><br>
    <%= f.text_area :describe, rows: 8, cols: 50 %>
  </div>

  <div class="actions">

    <% if @line.new_record? %>
        <%= f.submit :"Добавить" %>
    <% else %>
        <%= f.submit :"Изменить" %>
    <% end %>

  </div>
<% end %>
