<p id="notice"><%= notice %></p>

<p>
  <strong>Вид разметки :  <%= @line.name %></strong>  	 
</p>

<p>
  <strong style="vertical-align: top">Внешний вид :</strong>
  	<%= image_tag(@line.view) %>
</p>

<p>
  <strong>Описание :</strong>
  	<%= @line.describe %>
</p>

<%= link_to 'Изменить', edit_line_path(@line) %> |
<%= link_to 'Показать все', lines_path %>
