<%= form_for(@street) do |f| %>
  <% if @street.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@street.errors.count, "error") %> prohibited this street from being saved:</h2>

      <ul>
      <% @street.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :street, "Улица" %><br>
    <%= f.text_field :street %>
  </div>

    <div class="actions">
        <% if @street.new_record? %>
        <%= f.submit :"Добавить", class: "btn btn-sm btn-default", class: "btn btn-sm btn-default" %>
    <% else %>
        <%= f.submit :"Изменить", class: "btn btn-sm btn-default" %>
    <% end %>


  </div>
<% end %>
