<%= form_for(@date_job) do |f| %>
  <% if @date_job.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@date_job.errors.count, "error") %> prohibited this date_job from being saved:</h2>

      <ul>
      <% @date_job.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :date, "Дата" %><br>
    <%= f.date_select :date, order: [:day, :month, :year] %>
  </div>

    <table class="table table-hover" border="1">
      <tr class="active">
        <th>Вид разметки</th>
        <th>Площадь, m2</th>
        <th>Улица</th>
        <th>Дом</th>
        <th>Примечание</th>
        <th></th>
      </tr>

      <%= f.fields_for :jobs do |job| %>
        <%= render 'job_fields', f: job %>

      <% end %>

        <tr>
        <td><%= link_to_add_fields "Добавить работы", f, :jobs %></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        </tr>
      
    </table>

    
      
    

  <div class="actions">
    <% if @date_job.new_record? %>
        <%= f.submit :"Добавить" %>
    <% else %>
        <%= f.submit :"Изменить" %>
    <% end %>
  </div>
<% end %>
