<%= form_for(@date_job) do |f| %>
  <% if @date_job.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@date_job.errors.count, "error") %> prohibited this date_job from being saved:</h2>

      <ul>
      <% @date_job.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :date, "Дата" %><br>
    <%= f.date_select :date, order: [:day, :month, :year] %>
  </div>

    <table class="table table-bordered">
      <tr class="active">
        <th width="210px" style="text-align: center">Вид разметки</th>
        <th width="130px" style="text-align: center">Площадь, m2</th>
        <th width="240px" style="text-align: center">Улица</th>
        <th width="108px" style="text-align: center">Дом</th>
        <th width="390px" style="text-align: center">Примечание</th>
        <th></th>
      </tr>
    </table>

      <%= f.fields_for :jobs do |job| %>
        <%= render 'job_fields', f: job %>
      <% end %>        
        <p><%= link_to_add_fields "Добавить работы", f, :jobs %></p>    
    
    <hr>
          <strong><sup style="color:red">*</sup>  - обязательные для заполнения поля</strong>
    <hr>

  <div class="actions">
    <% if @date_job.new_record? %>
        <%= f.submit :"Добавить" %>
    <% else %>
        <%= f.submit :"Изменить" %>
    <% end %>
  </div>
<% end %>
