<%= form_for(@date_job) do |f| %>
  <% if @date_job.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@date_job.errors.count, "error") %> prohibited this date_job from being saved:</h2>

      <ul>
      <% @date_job.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :date, "Дата" %><br>
    <%= f.date_select :date, order: [:day, :month, :year] %>
  </div>

    <table class="table table-hover">
      <tr>
        <th>Вид разметки</th>
        <th>Площадь, m2</th>
        <th>Улица</th>
        <th>Дом</th>
        <th>Примечание</th>
        <th colspan="2"></th>
      </tr>

      <%= f.fields_for :jobs do |job| %>
      <tr>
        <td><%= job.collection_select(:line_id, Line.order(:id), :id, :name) %></td>
        <td><%= job.text_field :square %></td>
        <td><%= job.collection_select(:street_id, Street.order(:id), :id, :street) %></td>
        <td><%= job.text_field :house %></td>
        <td><%= job.text_field :note %></td>
        <td><%= job.check_box :_destroy%></td>
        <td><%= job.label :_destroy, "Удалить" %></td>

      <% end %>
      </tr>
    </table>
  <div class="actions">
    <% if @date_job.new_record? %>
        <%= f.submit :"Добавить" %>
    <% else %>
        <%= f.submit :"Изменить" %>
    <% end %>
  </div>
<% end %>
