<p id="notice"><%= notice %></p>
<p>
	<strong>Дата : <%= @date_job.date.strftime("%d/%m/%Y") %></strong>
</p>


<table class="table table-bordered">
      <tr class="active">      	
        <th width="210px">Вид разметки</th>
        <th width="130px">Площадь, m2</th>
        <th width="240px">Улица</th>
        <th width="108px">Дом</th>
        <th width="390px">Примечание</th>       
      </tr>

     <% @date_job.jobs.each do |job| %>

      <tr>        
        <td><%= job.line.name %></td>
        <td><%= job.square %></td>
        <td><%= job.street.street %></td>
        <td><%= job.house %></td>
        <td><%= job.note %></td>
    <% end %>

      </tr>
    </table>

<%= link_to 'Изменить', edit_date_job_path(@date_job) %> |
<%= link_to 'Показать все', date_jobs_path %>