<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @date_job.date.strftime("%d/%m/%Y") %>
</p>

<ul>
  <% @date_job.jobs.each do |job| %>
  <li> <%= job.id %> - <%= job.square %></li>
  <% end %>
</ul>
<%= link_to 'Edit', edit_date_job_path(@date_job) %> |
<%= link_to 'Back', date_jobs_path %>
