    <tr>            
        <td><%= a.text_field :number_act %></td>
        <td><%= a.collection_select(:street_id, Street.order(:id), :id, :street) %></td> 
        <td><%= a.text_field :money %></td> 
        <td><%= a.check_box :_destroy%></td>
        <td><%= a.label :_destroy, "Remove" %></td>       
      </tr>

      <tr>
        <th></th>
        <th>LineID</th>
        <th>Square</th>
        <th></th>
        <th></th>
      </tr>

          <%= a.fields_for :act_jobs do |act_job| %>  
            <%= render 'act_jobs', aj: act_job%>
          <% end %>
            <tr>
              <td colspan="5"><hr></td>
    </tr>