<%= form_for(@date_act) do |f| %>
  <% if @date_act.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@date_act.errors.count, "error") %> prohibited this date_act from being saved:</h2>

      <ul>
      <% @date_act.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :date, "Дата" %><br>
    <%= f.date_select :date, order: [:month, :year] %>
  </div>


  <table class="table table-hover">

    <%= f.fields_for :acts do |act| %>  
    <tr class="active">
      <th>Номер акта</th><th>Улица</th><th>Сумма, грн.</th><th colspan="2"></th>
    </tr>
      <%= render 'acts', a: act %>  
    <% end %>

  </table>  

  <div class="actions">

    <% if @date_act.new_record? %>
        <%= f.submit :"Добавить" %>
    <% else %>
        <%= f.submit :"Изменить" %>
    <% end %>
  </div>
<% end %>
