<%= form_for(@date_act) do |f| %>
  <% if @date_act.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@date_act.errors.count, "error") %> prohibited this date_act from being saved:</h2>

      <ul>
      <% @date_act.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :date, "Дата" %><br>
    <%= f.date_select :date, order: [:month, :year] %>
  </div>


  <table class="table table-bordered" border="1">
    <tr class="active">
      <th width="145px">Номер акта КБ-2</th>
      <th width="240px">Улица</th>
      <th width="250px">Сумма, грн.</th>
      <th></th>
      <th></th>
    </tr>
    </table>

    <%= f.fields_for :acts do |act| %>  
      <%= render 'act_fields', f: act %>  
    <% end %>    
                
          <p><%= link_to_add_fields "Добавить акт КБ-2", f, :acts %></p> 

  <div class="actions">

    <% if @date_act.new_record? %>
        <%= f.submit :"Добавить" %>
    <% else %>
        <%= f.submit :"Изменить" %>
    <% end %>
  </div>
<% end %>
