<p id="notice"><%= notice %></p>

<h1>Журнал актов КБ-2</h1>

<table class="table table-hover">
  <thead>
    <tr class="active">
      <th>Дата</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @date_acts.each do |date_act| %>
      <tr>
        <td><%= link_to date_act.date.strftime("%m/%Y"), date_act %></td>
        <td><%= link_to 'Изменить', edit_date_act_path(date_act) %></td>
        <td><%= link_to 'Удалить', date_act, method: :delete, data: { confirm: 'Вы уверены?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Добавить новую дату', new_date_act_path %>
