<p id="notice"><%= notice %></p>

<h1>Журнал актов КБ-2</h1>

<table class="table table-bordered">
  <thead>
    <tr class="active">
      <th colspan="3">Дата</th>
      
    </tr>
  </thead>

  <tbody>
    <% @date_acts.each do |date_act| %>
      <tr>
        <td><%= link_to date_act.date.strftime("%m/%Y"), date_act %></td>
        <td><%= link_to 'Изменить', edit_date_act_path(date_act) %></td>
        <td><%= link_to 'Удалить', date_act, method: :delete, data: { confirm: 'Вы уверены?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Добавить новый период', new_date_act_path %>
<hr>

  <ul>
    <% @sum_all_marking.sort.each do |key, val| %>
      <li><%= key %> - <%= val.to_s(:rounded, :precision => 2) %> m2</li>
    <% end %>
  </ul>
  <strong>Всего площадь, м2 : <%= @sum_marking.to_s(:rounded, :precision => 2) %></strong><br />
    <strong>Всего актов КБ-2 на сумму, грн : <%= @sum_money.to_s(:rounded, :precision => 2) %></strong>

