<p id="notice"><%= notice %></p>

<p>
  <strong>Период:</strong>
  <%= @date_act.date.strftime("%m/%Y") %>
</p>
	


	<table class="table table-hover" border="1">
		
		<tr  class="active">
			<th>Номер акта</th> 
			<th>Улица</th> 
			<th>Сумма, грн</th>
			<th>Вид разметки</th>
			<th>Площадь, м2</th>
			<th>Контроль, м2</th>
		</tr>		
				<% @date_act.acts.each do |act| %>
					
					<tr>

						<td><strong><%= act.number_act %></strong></td>
						<td><%= act.street.street %></td> 
						<td><%= act.money %></td>		
						<td></td>
						<td><strong>Всего : <%= @sum_marking_act[act.number_act.to_s] %></strong></td>
						<td><strong>Всего : <%= @sum_marking_street[act.street.id] %></strong></td>			
					</tr>
				<% end %>
				
	</table>
				
		

<%= link_to 'Изменить', edit_date_act_path(@date_act) %> |
<%= link_to 'Показать все', date_acts_path %>

