<p id="notice"><%= notice %></p>

<p>
  <strong>Период:</strong>
  <%= @date_act.date.strftime("%m/%Y") %>
</p>
	


	<table class="table table-hover" border="1">
		
		<tr  class="active">
			<th>Номер акта</th> 
			<th>Улица</th> 
			<th>Сумма, грн</th>
			<th>Площадь, м2</th>
			<th>Контроль, м2</th>
		</tr>		
				<% @date_act.acts.each do |act| %>
					
					<tr>

						<td><strong><%= act.number_act %></strong></td>
						<td><%= act.street.street %></td> 
						<td><%= act.money %></td>

						<td>
						<% act.act_jobs.each do |act_job| %>		
						<dl><dd><%= act_job.line.name %> - <%= act_job.square %>, м2</dd></dl>
						<% end %>
						<strong>Всего : <%= @sum_marking_act[act.number_act.to_s].to_s(:rounded, :precision => 2) %>, m2</strong>
						</td>
		
						</td>
						<td style="vertical-align:bottom"><strong>Всего : <%= @sum_marking_street[act.street.id] %>, m2</strong></td>			
					</tr>
				<% end %>
				
	</table>
				
<hr>
  

<ul>
	<% @sum_marking_period.each do |key, val| %>
		<li><%= key %> - <%= val %>, m2</li>
	<% end %>
</ul>

  <strong>Всего площадь за период : <%= @sum_all_marking_period.to_s(:rounded, :precision => 2) %>, м2</strong><br />
    <strong>Всего актов КБ-2 на сумму : <%= @sum_money.to_s(:rounded, :precision => 2) %>, грн</strong>
<hr>		

<%= link_to 'Изменить', edit_date_act_path(@date_act), class: "btn btn-sm btn-default" %> |
<%= link_to 'Показать все', date_acts_path, class: "btn btn-sm btn-default" %>

