<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @date_act.date.strftime("%m/%Y") %>
</p>
	<ul>
		<% @date_act.acts.each do |act| %>
			<li><strong><%= act.number_act %> - <%= act.street.street %> - <%= act.money %>, HRN</strong></li>
				
					<% act.act_jobs.each do |act_job| %>
				<ul>
						<li><%= act_job.line.name %> - <%= act_job.square %>, m2</li>
				</ul>
				<% end %>
				<hr>
		<% end %>
	</ul>
<%= link_to 'Edit', edit_date_act_path(@date_act) %> |
<%= link_to 'Back', date_acts_path %>
