<h1>Поиск выполненных работ</h1>

<%= form_for(:filter, url: reports_index_path) do |f| %>
<table class="table table-hover">

	
      <tr>
      	<th>Дата начала работ :</th>
        <td><%= f.text_field :date_start, :value => "01/01/2015", class: "datepicker" %></td>   
      </tr>

      <tr>
      	<th>Дата окончания работ :</th>
        <td><%= f.text_field :date_end, :value => "#{Time.now.strftime('%d/%m/%Y')}", class: "datepicker" %></td>
      </tr>

      <tr>
      	<th>Улица :</th>
        <td><%= f.collection_select(:street_id, Street.order(:id), :id, :street) %></td>
      </tr>
</table>


      <%= f.submit :"Поиск", class: "btn btn-sm btn-default" %>
      <% end %>





 


