<h1>Report#filter</h1>
<%= form_for(:filter, url: reports_index_path) do |f| %>
  <p>Date begin: <%= select_date(Date.new(2015, 1, 1), order: [:day, :month, :year], prefix: :date_start) %></p><br />
  <p>Date end  : <%= select_date Date.today, order: [:day, :month, :year], prefix: :date_end %></p><br />
  <p>Street: <%= f.collection_select(:street_id, Street.order(:street), :id, :street) %></p>
  
<%= f.submit %>
<% end %>
