<h1>Перечень работ с <%= @date_start.strftime("%d/%m/%Y")%> по <%= @date_end.strftime("%d/%m/%Y") %>.</h1>

<% if @jobs_period.empty? %>
<hr>
  <p><h3>Записей не найдено</h3></p>
<hr>
<% else %>

<table class="table table-hover">
  <tr  class="active">  
    <th>Дата</th>
    <th>Вид разметки</th>
    <th>Площадь, м2</th>
    <th>Улица</th>
    <th>Дом</th>
    <th>Примечание</th>
  </tr>

<% @jobs_period.each do |j| %>
  
  <tr>   
    <td><%= j.date_job.date.strftime("%d/%m/%Y") %></td>
    <td><%= j.line.name %></td>
    <td><%= j.square %></td>
    <td><%= j.street.street %></td>
    <td><%= j.house %></td>
    <td><%= j.note %></td>
  </tr>
  <% end %>

</table>
<hr>
  <ul>
    <% @sum_marking.sort.each do |key, val| %>
      <li><%= key %> - <%= val.to_s(:rounded, :precision => 2) %> m2</li>
    <% end %>
  </ul>

<strong>Всего площадь, м2: <%= @sum_all_marking.to_s(:rounded, :precision => 2) %></strong>

<% end %>

