<h1>Перечень работ с <%= @date_start %> по <%= @date_end %>.</h1>

<p><%= link_to :"Изменить параметры поиска", reports_filter_path, class: "btn btn-sm btn-default" %></p>
<p></p>
<% if @jobs_period.empty? %>
<hr>
  <p><h3>Записей не найдено</h3></p>
<hr>
<% else %>

<table class="table table-hover">
  <tr  class="active">  
    <th>Дата</th>
    <th>Вид разметки</th>
    <th>Площадь, м2</th>
    <th>Улица</th>
    <th>Дом</th>
    <th>Примечание</th>
  </tr>

<% @jobs_period.each do |job| %>
  
  <tr>   
    <td><%= link_to job.date_job.date.strftime("%d/%m/%Y"), date_job_path(job.date_job.id) %></td>
    <td><%= job.line.name %></td>
    <td><%= job.square %></td>
    <td><%= job.street.street %></td>
    <td><%= job.house %></td>
    <td><%= job.note %></td>
  </tr>
  <% end %>

</table>
<hr>
  <ul>
    <% @sum_marking.sort.each do |key, val| %>
      <li><%= key %> - <%= val.to_s(:rounded, :precision => 2) %> m2</li>
    <% end %>
  </ul>

<strong>Всего площадь : <%= @sum_all_marking.to_s(:rounded, :precision => 2) %>, м2</strong>

<% end %>
<p></p>
<p><%= link_to :"Изменить параметры поиска", reports_filter_path, class: "btn btn-sm btn-default" %></p>

